/* style for "font" */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
/* main style */
 *{
    margin:0;
    padding:0;
 }
 
header {
    background-color:#FFF8F3;
    background: url("../images/developer.png") ,url("../images/header_bg.png") ,#FFF8F3;
    background-position:top left,bottom right;
    background-repeat:no-repeat;
    padding-top:50px;
}
nav{
    width:71.25%;
    max-width:1140px;
    border:1px;
    margin:0px auto;
    display:flex;
    justify-content:space-between;

}
.logo h2{
    font-size:45px;
    font-weight:900;
}
.navber{
    list-style:none;
    display:flex;
    align-items: center;
    gap:51px;
}
nav .navber a{
    text-decoration:none;
    font-size:20px;
    color:#474747;
}
.btn1{
    background-color:#FD6E0A;
    padding:18px 35px;
    color:white;
    border:none;
    border-radius:5px;
    font-size:20px;
    font-weight:bold;
    cursor:pointer;
}
#banner {
    margin:47px 38px 0px 230px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content h2{
    color:#474747;
    font-size:45px;
    font-weight:600;
    margin-bottom:5px;
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight:bold;
    margin-bottom:20px;

}
.banner-content{
    width:585px;
    height:262px;
    margin-bottom:40px;
}
.banner-content p{
    margin-bottom: 20px;
    font-size:18px;
    color:#757575;
    
}
.btn2 , .btn3{
background-color: #FD6E0A;
border:none;
color: white;
font-size:20px;
padding:18px 17px;
border-radius:5px;

}
#banner .banner-image img{
    width:584px;
    height:674px;
    vertical-align:middle ;

}
#about{
  padding:130px 210px;


}

#about .about-container{
    text-align:center;
    background-color:#FFF8F3 ;
    width:71%;
    max-width:1140px;
    margin:0 auto;
    padding:131px 156px;
}

.section-heading{
    text-align:center;
}
.section-heading p{
margin-bottom:30px;
font-size:18px;
line-height:30px;
max-width: 837px;
margin:0 auto;
color:#757575
}
.about-container h2{
font-size: 35px;
margin-bottom:30px;
}
.about-info{
    display:flex;
    justify-content:space-around;
    margin-top:30px

}

.about-info .info-card p{
color:#757575;
font-size: 20px;

}
.about-info .info-card h4{
    font-size: 20px;
}